.lightTheme {
    /* Dégradé d'arrière-plan de la sidebar */
    --sidebar-bg: linear-gradient(135deg, dodgerblue 85%, rgba(130, 193, 248, 0.637) 15%);
    
    /* Couleur du texte de la sidebar */
    --sidebar-color: #3e3a3a; /* Un gris foncé pour une bonne lisibilité sur fond clair */
    
    /* Dégradé d'arrière-plan de la navbar */
    --navbar-bg: linear-gradient(135deg, lightblue 25%, cyan 75%);

    /* Couleur des icones de la navbar */
    --navbar-icon: black;
    
    /* Couleur du texte de la navbar */
    --navbar-color: #3e3a3a; /* Un gris foncé pour une bonne lisibilité sur fond clair */
    
    /* Couleur de fond de la fenêtre de contenu */
    --content-bg: #f9f9f9; /* Une couleur légèrement grise pour adoucir le blanc pur */

    /* Couleur du bouton du choix du thème */
    --theme-button-color: #333;

    /* Couleur de l'arrière plan du choix du thème */
    --theme-background: gainsboro;

    /* Couleur de l'arrière plan du choix du thème au survol de la souris */
    --theme-background-onHover: dimgray;

    /* Couleur du texte du choix du thème au survol de la souris */
    --theme-background-onHover-text-color: white;

    /* Couleur du texte des différentes parties dans le conteneur principal */
    --content-title-text-color: dimgray;
}
